<% provide(:title, 'About Us' ) %>
<h1>About Us</h1>
<p>
	This site is an attempt to make the buying, selling and renting experience more evolved.<br>
	You can help connect buyers looking to buy specific products with sellers trying to sell or renters trying to rent out items with those looking to rent out.<br>
	<br><br>
	This project is currently in the beta phase trying to test out the functionality with a group of select users to get ideas and feedback for improvement.
	<br><br>
	We are a team of 2 developers currently based out of NYC. You can get in touch via email at abc@xyz.com. For feedback, we encourage you to use our feedback form.

</p>

